<div class="container mb-5">
  <div class="col-6 p-4 m-auto">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group d-flex flex-column">
        <label>Name:
          <input type="text" minlength="3" name="username" class="form-control" ngModel required #username="ngModel" />
        </label>
        <div *ngIf="username.touched && username.errors" class="text-danger">
          <p *ngIf="username.errors.required"> UserName is Required </p>
          <p *ngIf="username.errors.minlength">Minimum 3 characters Required</p>
        </div>
        <button type="button" value="Suggest user name" class="btn btn-light w-50">
          Suggest user name
        </button>
        <label>Email:
          <input type="email" name="email" class="form-control" ngModel email required />
        </label>
      </div>
      <div class="form-group">
        <label>Question: </label>
        <select name="securequestion" class="form-control" ngModel required>
          <option value="born">Which month you born in?</option>
          <option value="cricket">Which is your favourite cricket team?</option>
        </select>
        <label class="mt-2">Answer:
          <textarea name="secureanswer" rows="3" class="form-control" ngModel required></textarea>
        </label>
        <div *ngFor="let gender of gender">
          <label>
            <input type="radio" name="gender" value="{{gender}}" ngModel required />
            {{ gender }}
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>